:root {
  --primary: #563646;
  --secondary: #c5c9e9;
  --primary-rgb: 255, 204, 128;
  --secondary-rgb: 128, 201, 255;
  --dark-violet: 111,45,168;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: gradientAnimation 8s linear infinite;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #f90202b0, #f3f57ba5, #dd96f4a5, #99f3e4a5, #f7f58ea5, #f883dcb7, rgb(4, 4, 236));
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

* {
  box-sizing: border-box;
}

.todo-app-container {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 12px;
  border-radius: 8px;
}

.todo-app-container > * {
  border-bottom: 1px solid rgba(var(--dark-violet), 0.4);
  padding: 0 0.7em;
}

.todo-app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-app-container:hover {
  border: #ca33f8;
  box-shadow: -3px 3px 30px 10px rgb(247, 247, 199), -3px 3px 30px 10px rgba(29, 249, 212, 0.521);
  /*transform: translateY(-17px);*/
}

input {
  border-color: transparent;
  padding: 0.7em;
  outline: none;
  border-radius: 3px;
}

.task-input {
  width: 90%;
  position: relative;
}

.task-input-form {
  position: relative;
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.task-input-form label {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 16px;
  color: rgba(var(--dark-violet), 0.8);
  pointer-events: none;
  transition: 0.2s ease-out;
}

.task-input:focus ~ label {
  top: -20px;
  left: 2px;
  color: rgba(var(--dark-violet), 0.9);
  font-size: 14px;
}

#addBtn {
  width: 11%;
  font-size: 2rem;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.todo-app-list-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.todo-app-list-container li {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
  border-bottom: 1px solid rgba(var(--dark-violet), 0.2);
}

.task-list {
  padding-left: 0;
}

.clear-completed-tasks {
  width: 100%;
  padding: 0.5em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgb(var(--dark-violet));
  color: #d1d1d1;
  cursor: pointer;
}

.clear-completed-tasks:hover {
  background: rgb(var(--dark-violet), 0.8);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: none;
  color: #cecece;
  letter-spacing: 0.8rem;
}

.task i {
  margin-left: auto;
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}

/*-------------*/

i {
  font-size: 0.9em;
  color: #f61d05;
  cursor: pointer;
}



ul {
  list-style-type: none;
}

li {
  display: flex;
  padding: 1em;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
}




.task-menu {
  display: flex;
  align-items: flex-end;
  border: 1px solid #a1003582;
  border-radius: 5px;
  right: 32%;
  background-color: #d09ef6;
  box-shadow: 0 15px 10px -11px black;
  padding: 1em 0.5em;
  margin-top: 3em;
  position: absolute;
  font-size: 1.2em;
}

.task-menu li {
  padding: 0 0.5em;
  position: relative;
}

